* {
  margin: 0;
}

body {
  background-color: #13171b;
}

.capitalize {
  text-transform: capitalize;
}

.transform-letter {
  color: white !important;
  text-transform: capitalize;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  color: white !important;
}

.sticky-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.form-container{
  margin: 10px 300px;
}

@media (max-width: 950px) {
  .form-container{
    margin: 10px 10px;
  }
}